adal==1.2.7
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
antlr4-python3-runtime==4.8
asgiref==3.5.1
asttokens==2.0.5
async-timeout==4.0.2
attrs==20.2.0
azure==4.0.0
azure-applicationinsights==0.1.1
azure-batch==4.1.3
azure-cognitiveservices-speech==1.21.0
azure-common==1.1.28
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-datalake-store==0.0.52
azure-eventgrid==1.3.0
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.1
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.1.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.6.2
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.6.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.1
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.7.0
azure-mgmt-notificationhubs==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.2.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.1.0
azure-mgmt-servicebus==0.5.3
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.1
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==1.5.0
azure-storage-common==1.4.2
azure-storage-file==1.4.0
azure-storage-queue==1.4.0
Babel==2.10.1
backports.zoneinfo==0.2.1
blis==0.7.7
botocore==1.25.9
cachetools==5.0.0
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.1.3
cryptography==37.0.2
cymem==2.0.6
dill==0.3.4
Django==4.0.4
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
executing==0.8.3
filelock==3.6.0
frozenlist==1.3.0
fsspec==2022.3.0
google-api-core==2.7.3
google-auth==2.6.6
google-crc32c==1.3.0
googleapis-common-protos==1.56.0
huggingface-hub==0.5.1
humanfriendly==10.0
idna==3.3
imagesize==1.3.0
importlib-resources==5.2.3
iniconfig==1.1.1
isodate==0.6.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.1.0
langcodes==3.3.0
Markdown==3.3.2
markdown-it-py==0.5.8
MarkupSafe==2.1.1
mathparse==0.1.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mock==4.0.3
msrest==0.6.21
msrestazure==0.6.4
multidict==6.0.2
multiprocess==0.70.12.2
murmurhash==1.0.7
nltk==3.7
numpy==1.21.0
oauthlib==3.2.0
omegaconf==2.1.2
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pint==0.19.2
pluggy==1.0.0
portalocker==2.4.0
preshed==3.0.6
prompt-toolkit==3.0.29
protobuf==3.20.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
pyflakes==2.4.0
Pygments==2.12.0
PyJWT==2.4.0
pymongo==3.12.3
pyparsing==3.0.8
pytest==7.1.2
pytest-datadir==1.3.1
python-dateutil==2.7.5
pytz==2022.1
PyYAML==3.13
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.53
scipy==1.8.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
snowballstemmer==2.2.0
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.2.19
sqlparse==0.4.2
srsly==2.4.3
stack-data==0.2.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thinc==8.0.15
threadpoolctl==3.1.0
tokenizers==0.12.1
tomli==1.2.3
torch==1.11.0
tqdm==4.62.3
traitlets==5.1.1
transformers==4.18.0
typer==0.4.1
typing_extensions==4.2.0
untokenize==0.1.1
urllib3==1.26.9
wasabi==0.9.1
wcwidth==0.2.5
Werkzeug==2.1.2
xxhash==3.0.0
yarl==1.7.2
zipp==3.8.0
